body {
    display:         flex;
    justify-content: center;
}

#content {
    width: 1024px;
}

#page_title {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 20px;
}

.control-label {
    text-align: left !important;
}
