body {
    display:         flex;
    justify-content: center;
}

textarea {
    resize: vertical;
    min-height: 200px;
    max-height: 400px;
}

.control-label {
    text-align: left !important;
}

#content {
    width: 1024px;
}

#page_title {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 20px;
}

.charLimitFeedback {
    color: red;
}

.genSentencesList {
    font-size: 14pt;
};
